%tr
  - render_region :thead do |thead|
    - thead.name_header do
      %th.group= t('name')
    - thead.home_header do
      %th.home= t('home_page')
    - thead.members_header do
      %th.members= t('members')
    - thead.pages_header do
      %th.pages= t('pages')
    - thead.modify_header do
      %th.modify= t('modify')
